<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<link rel="stylesheet" href="">
	<script src="vue.js"></script>
	<style>
		.demo {
			width: 100px;
			height: 100px;
			background-color: gray;
			display: inline-block;
			margin: 10px;
		}

		.red {
			background-color: red;
		}

		.green {
			background-color: green;
		}

		.blue {
			background-color: blue;
		}
	</style>
</head>

<body>
	<!-- Section 2: Directives -->
	<div id="app1">
		<input type="text" v-on:input="changeTitle">
		<p>{{title}}</p>
	</div>
	<hr>
	
	<!-- Section 2: Events -->
	<div id="app2">
		<button v-on:click="increase(2, $event)">Click Me</button>
		<button v-on:click="counter++">Click Me</button>
		<p>{{ counter * 2 }} : {{ counter * 2 > 10 ? 'Greater than 10' : 'Smaller than 10'}} </p>
		<p></p>
		<p v-on:mousemove="updateCoordinates">
			Coordinates: {{ x }} / {{ y }}
			- <span v-on:mousemove.stop="dummy">DEAD SPOT</span>
		</p>
		<input type="text" v-on:keyup.enter="alertMe">
	</div>
	<hr>
	
	<!-- Section 2: Two-Way-Binding -->
	<div id="app3">
		<input type="text" v-model="name">
		<p>{{ name }}</p>
		<button v-on:click="newName = name">Click to update name</button>
		<p>{{ newName }}</p>
	</div>
	<hr>
	
	<!-- Section 2: Reacting to Changes with Computed Properties -->
	<div id="app4">
		<button v-on:click='counter++'>Increase</button>
		<button v-on:click='counter--'>Decrease</button>
		<button v-on:click='secondCounter++'>Increase Second</button>
		<p>Counter: {{ counter }} | {{ secondCounter }}</p>
		<p>Result: {{ result() }} | {{ output }}</p>
	</div>
	<hr>
	
	<!-- Section 2: Dynamic Styling with CSS Classes -->
	<div id="app5">
		<div>
			<div class="demo" @click="attachRed = !attachRed" :class="divClasses"></div>
			<div class="demo" :class="{red: attachRed}"></div>
			<div class="demo" :class="[color, {red: attachRed}]"></div>
			<input type="text" v-model="color">
			<input type="text" v-model="width">
		</div>
	</div>
	<hr>
	
	<!-- Section 2: Dynamic Styling without CSS Classes -->
	<div id="app6">
		<div>
			<div class="demo" :style="{'background-color': color}"></div>
			<div class="demo" :style="myStyle"></div>
			<div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
			<input type="text" v-model="color">
			<input type="text" v-model="width">
		</div>
	</div>
</body>
<script>
	// Section 2: Directives
	new Vue({
		el: '#app1',
		data: {
			title: 'Hello World!'
		},
		methods: {
			changeTitle: function() {
				this.title = event.target.value;
			}
		}
	});	

	// Section 2: Directives
	new Vue({
		el: '#app2',
		data: {
			counter: 0,
			x: 0,
			y: 0
		},
		methods: {
			increase: function(step, event) {
				this.counter += step;
			},
			updateCoordinates: function(event) {
				this.x = event.clientX;
				this.y = event.clientY;
			},
			alertMe: function() {
				alert('Alert!');
			}
		}
	});	

	// Section 2: Two-Way-Binding
	new Vue({
		el: '#app3',
		data: {
			name: 'Justin',
			newName: 'My Name'
		}
	});

	// Section 2: Reacting to Changes with Computed Properties
	new Vue({
		el: '#app4',
		data: {
			counter: 0,
			secondCounter: 0
		},
		computed: {
			output: function() {
				console.log('Computed');
				return this.secondCounter > 5 ? 'Greater 5' : 'Smaller 5';
			}
		},
		watch: {
			// Whenever 2 seconds is reached, reset the counter value.
			counter: function(value) {
				var vm = this;
				setTimeout(function() {
					vm.counter = 0;
				}, 2000)
			}
		},
		// The result method keeping track when the rounter is increased. When it reached over 5, the message changs.
		methods: {
			result: function() {
				console.log('Method');
				return this.counter > 5 ? 'Greater 5' : 'Smaller 5';
			}
		}
	});

	// Section 2: Dynamic Styling with CSS Classes
	new Vue({
		el: '#app5',
		data: {
			attachRed: false,
			color: 'green'
		},
		computed: {
			divClasses: function() {
				return{
					red: this.attachRed,
					blue: !this.attachRed
				};
			}
		}
	});

	// Section 2: Dynamic Styling without CSS Classes
	new Vue({
		el: '#app6',
		data: {
			color: 'gray',
			width: 100
		},
		computed: {
			myStyle: function() {
				return {
					'background-color': this.color, 
					'width': this.width + 'px'
				}
			}
		}
	});
</script>

</html>